{
  "presets": [
    ["@babel/preset-env", {
      "targets": "> 0.25%, not dead",
      "include": ["node_modules/@ui5"]
      // "exclude": ["transform-regenerator"]
    }]
  ],
  "plugins": [
    "@vue/babel-plugin-transform-vue-jsx", 
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-spread"
  ]
}
