{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "development": {
        "sourceMaps": true,
        "retainLines": true
      },
      "exclude": ["transform-regenerator"]
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx"]
}
